// Main
main{

    &.secondary-color-background {
        background-color: $primary_color;
    }
    // Movies
    .movies{
        background-color: $secondary_color;
        color: white;
        // Current series
        .current-series{
            h3{
                background-color: $primary_color;
                display: inline-block;
                padding: 10px;
                position: relative;
                bottom: 20px;
            }
            
        }

        // Movies list
        .movies-list{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 50px 0;
            text-transform: uppercase;
            
            // Movie
            .movie{
                padding: 20px 5px;
                width: calc((100% / 6) - 10px);
                img{
                    width: 100%;
                    height: 150px;
                    object-fit: cover;
                    object-position: top;
                    padding-bottom: 10px;
                }
            }
        }

        // Load more
        .load-more{
            text-align: center;
            padding-bottom: 30px;
            a{
                background-color: $primary_color;
                padding: 10px 40px;
                
            }
            
        }
    }

    // Pre footer
    .pre-footer{
        background-color: $primary_color;

        // Nav icon
        .nav-icon{
            padding: 50px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: white;
            text-transform: uppercase;
            font-size: 14px;
            // Img
            img{
                width: 40px;
                vertical-align: middle;
            }
        }
    }

    // Movie details
    .movie-details{
        width: 100%;
        background: linear-gradient(to bottom, $primary_color 0px, $primary_color 10vh, white 10vh, white 100%);
        position: relative;
        // Movie view gallery
        .movie-view-gallery{
            position: absolute;
            top: -170px;
            left: 350px;
            
            // Img
            img{
                width: 150px;
                border: 1px solid white;
            }
        }

        // Movie details content
        &-content{
            display: flex;
            padding-top: 130px;
            padding-bottom: 50px;

            // Movie main info
            .movie-main-info{
                width: 80%;
                padding-right: 30px;

                // Movie title
                .movie-title{
                    padding-top: 15px;
                }

                // Movie price
                .movie-price{
                    background-color: #55ba59;
                    border-bottom: 1px solid black;
                    margin: 15px 0;

                    //  Movie price and available
                    &-available{
                        display: flex;                        
                        font-size: 12px;
                        color: white;

                        // Lightgreen
                        .lightgreen{
                            color: lightgreen;
                        }

                        // Price, Available
                        .price,
                        .available{
                            width: 35%;
                            height: 100%;
                            padding: 15px 20px;
                        }

                        // Available
                        .available{
                            padding-right: 20px;
                            text-align: right;
                            border-right: 1px solid black;
                            text-transform: uppercase;
                        }
                        
                        // Check availablility
                        .check-availablility{
                            width: 30%;
                            text-align: center;
                            padding: 15px 20px;
                        }
                    }
                }
            }

            // Movie advertisement
            .movie-advertisement{
                text-transform: uppercase;
                font-size: 12px;
                text-align: right;
                
                // img
                img{
                    margin-top: 10px;
                }
            }
        }
    }

    // Movie detailed information
    .movie-detailed-information{
        background-color: #f6f6f6;
        border-top: 1px solid lightgray;
        padding: 40px 0;

        // Movie information content
        .movie-information-content{
            display: flex;

            // Movie talent, movie specs
            .movie-talent,
            .movie-specs{
                width: 50%;
                padding-right: 30px;

                // H3
                h3{
                    border-bottom: 1px solid lightgray;
                    padding-bottom: 15px;
                }
            }

            // Movie talent
            .movie-talent{

                // Talent-info
                .talent-info{
                    font-size: 11px;
                    
                    // Art by, written by
                    .art-by,
                    .written-by{
                        border-bottom: 1px solid lightgray;
                        display: flex;
                        padding: 5px 0;

                        // Div
                        div{
                            width: 50%;
                        }

                        // Span
                        span{
                            color: $primary_color;
                        }
                    }
                }
            }

            // Movie-specs
            .movie-specs{

                // specs info
                .specs-info{
                    font-size: 11px;
                }

                // Specs series, specs price, specs sale date
                .specs-series,
                .specs-price,
                .specs-sale-date{
                    display: flex;
                    border-bottom: 1px solid lightgray;
                    padding: 5px 0;

                    // Div
                    div{
                        width: 50%;
                    }
                }
                // Specs series
                .specs-series{
                    // Span
                    span{
                        color: $primary_color;
                    }
                }
            }
        }
    }
}